*.vo
*.vos
*.vok
*.glob
*.aux
*.bbl
*.bcf
*.xml
*.pdf
*.out
*.log
*.fdb_latexmk
*.fls
paper/*.pygtex
.coqdeps.d
.Makefile.d
Makefile.coq*
Makefile.conf
TAGS
.DS_Store
_build
.lia.cache
_minted*/
.vscode
*~
