name: coq-action

on:
  push:
    paths: "**.v"
  pull_request:
    types: [opened, reopened]
jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
        with:
          submodules: "true"
      - name: "Docker Coq action"
        uses: "coq-community/docker-coq-action@v1"
        with:
          opam_file: "bonak.opam"
          coq_version: "latest"
